/* PIDE MAS */
.pide-mas{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:50px 0px;
    & h5{
        font-weight:lighter;
        font-size:20px;
        color:rgb(166, 166, 166);
    }
    & h2{
        font-size:45px;
        font-weight:900;
    }
    & p{
        margin:20px 0px 30px 0px;
        color:rgb(164, 164, 164);
        font-size:15px;
    }
}
.pide-lista li{
    font-family:helvetica;
    font-size:16px;
    color:gray;
    display:flex;
    align-items: center;
    & svg{
        font-size:20px;
        margin-right:8px;
    }
}
.pide-mas div img{
    border-radius:20px;
    width:470px;
    height:580px;
    object-fit: cover;
}
.bara{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:350px;
    height:28px;
    border-radius:10px;
    background:rgb(231, 231, 231);
    overflow:hidden;
    position:relative;
}
.bara p{
    height:10px;
}
.bara-up p{
    width:70px;
    background:white;
    border-radius:20px;
    border:2px solid rgb(0, 187, 128);
    margin:0;
    height:100%;
    box-sizing: border-box;
    text-align: center;
    color:rgb(0, 187, 128);
    font-weight:900;
}
.bara-up{
    border-radius:0px 20px 20px 0px;
    background:linear-gradient(to right, rgb(0, 187, 128), rgb(0, 231, 81));
    height:100%;
    width:32%;
    position:absolute;
    animation: bara 5s infinite linear;
    display:flex;
    justify-content: flex-end;
    z-index:5
}
.bara-porcentaje{
    display:flex;
    gap:40px;
    width:100px;
    position:absolute;
    right:55px;
}
@keyframes bara{
    0%{
        width:10%
    }
    100%{
        width:100%;
    }
}

@media(max-width:800px){
    .pide-mas  h5{
        text-align:center;
        margin-top:20px;
    }
    .pide-mas h2{
        text-align:center;
        font-size:35px;
    }
    .pide-mas div img{
        width:100%;
        height:400px;
    }
}